<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>FootnoteGen</name>
<type>edit</type>
<author>laggardkernel</author>
<description>Generate footnotes of Duokan style</description>
<autostart>true</autostart>
<engine>python3.4</engine>
<version>0.1.0</version>
<oslist>osx,unx,win</oslist>
</plugin>
